*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 20px;
}

    /* header */

header{
    /* debug */
    background-color: blue;
    min-height: 400px;
    color: white;
}


/* Nav bar */
header a{
    color: white;
    text-decoration: none;
}

h4{
    display: inline;
}

#header-flexcontainer{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

#menu-navigazione{
    display: flex;
    justify-content: space-evenly;
    
}

#menu-navigazione > div{
    padding: 0 20px;

}

.button-header{
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 15%;
}

 /* Titolo con testo e pulsanti per download e di reindirizzamento   */

 #title{
    padding: 80px 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
 }
#title p{
    padding-bottom: 30px;
}

 h1{
    padding-bottom: 20px;
 }

#title a{
    padding:10px 30px;
    
}

/* main */

.sezione-flex{
    padding: 40px 0;
    font-size: 30px;

    display: flex;
    justify-content: center;

    /* debug */
    background-color: bisque;
    min-height: 400px;
    border: 2px solid black;
}

.sezione-flex>img, #last-section>img{
    /* debug */
    height: 400px;
    width: 400px;
    
}

.sezione-flex div{
    padding: 20px 40px;
    width: 30%;

   display: flex;
   flex-direction: column;
   align-items: center;
}

.section-reverse{
    flex-direction: row-reverse;
}

#last-section{
    padding: 20px 0;
    background-color: bisque;

    display: flex;
    flex-direction: column;
    align-items: center;
    
}

